.quizbook{

}

.quizbook ul{
	list-style: none
}

.quizbook ul li .respuesta{
	border: 1px solid #f1f1f1;
	padding: 20px;
	margin-bottom: 10px;
	background-color: #f1f1f1;
}



.quizbook ul li .respuesta:hover,
.quizbook ul li .respuesta.seleccionada
{
	background-color: cornflowerblue;
	cursor: pointer;
	color: white;
}
